.title {
	margin-right: auto;
	margin-left: auto;
	font-size: 250%;
	font-family: 'Ruluko', serif;
	position: fixed;
    top: 40%;
    left: 50%;
    margin-top: -50px;
    margin-left: -268px;
}

.centerLogin {
  margin-right: auto;
  margin-left: auto;
  position: fixed;
  top: 40%;
  left: 50%;
  margin-top: 100px;
  margin-left: -90px;
}

#motto {
	margin-right: auto;
	margin-left: auto;
	font-size: 150%;
	font-family: 'Ruluko', serif;
	position: fixed;
    top: 40%;
    left: 50%;
    margin-top: 50px;
    margin-left: -135px;
}

.corner {
  float: left;
}

 #alink { 
 	text-decoration: none; 
 }
 
 #plink { 
 	text-align: center;
 }

.button
{
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: #0C5;

  font-size: 14px;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  
  margin: 0em auto;
  margin-top: 1em;
  
  
  padding: 5px 0;
  width: 175px;
  height: 27px;
  padding-bottom: 0px;
  padding-top: 12px;

  background: #0D6;
  border: 1px solid #0D6;
  color: #FFF;
  overflow: hidden;
  
  transition: all 0.5s;
}

.button:hover, .button:active 
{
  text-decoration: none;
  color: #0C5;
  border-color: #0C5;
  background: #FFF;
}

.button span 
{
  display: inline-block;
  position: relative;
  padding-right: 0;
  padding-bottom: 2px; 
  
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -18px;
  
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -10px;

  background: rgba(0, 0, 0, 0);
  border: 3px solid #FFF;
  border-top: none;
  border-right: none;

  transition: opacity 0.5s, top 0.5s, right 0.5s;
  transform: rotate(-45deg);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: #0C5;
  right: 0;
  top: 50%;
}

.gradBG {
	  background: -webkit-linear-gradient(#00ACEE, #FFB584); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(#00ACEE, #FFB584; /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(#00ACEE, #FFB584); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#00ACEE, #FFB584); /* Standard syntax */
}

